@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
* {
  margin: 0;
padding: 0;

text-align: center;
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif; 
  margin: 0;
}


.photologo img{
width: 200px;
height: 200px;
border-radius: 50%;
border: 1px solid rgb(22, 4, 85);;
}
.text-center {
width: 100%;
display: inline-flex;
margin-left:  35px;
}
.photologo{
float: left;
position: relative;
top: -20px;
margin-right: 10px;
margin-right: 20px;
}
ul{
list-style: none;
}
a{
text-decoration: none;

}
.list-unstyled img{
width: 70px;
height: 70px;
border-radius: 50%;
} 
 /****footer***/
 
  footer{background-color:#96578cf2;color:#e7dfdf; font-weight: bold; padding-left: 170px;}
  footer article{width:22%;float:left;margin-bottom:30px;padding-top:25px;padding-bottom:25px;}
  footer ul{list-style-type:none;}
  